*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ----------
    COMMON
  ----------- */

.container{
    max-width: 62.5rem;
    margin: auto;
    background-color: #B91450;
    text-align: center;
}

h1{
    color: #fff;
}